In [1]:
import pandas as pd

## Задание 1

Открой файл [distances.ipynb](src/notebooks/distances.ipynb). 
* Объедини общие данные о фильмах [tmdb_5000_movies](https://files.sberdisk.ru/s/te4QbzdxKgsFQXA) и каст фильмов 
[tmdb_5000_credits](https://files.sberdisk.ru/s/H9oRuXQt5mFz3T9). 
* Оставь в датасете только фильмы, которые вышли в "релиз".
* Убери фильмы с пропусками в колонках ['overview', 'genres', 'keywords']
* Выведи количество фильмов, оставшихся в выборке

In [2]:
# https://files.sberdisk.ru/s/te4QbzdxKgsFQXA   # tmdb_5000_movies.csv
# https://files.sberdisk.ru/s/H9oRuXQt5mFz3T9   # tmdb_5000_credits.csv
movies = pd.read_csv('../../datasets/tmdb_5000_movies.csv') # данные о фильмах
credits = pd.read_csv('../../datasets/tmdb_5000_credits.csv') # каст фильмов

In [3]:
# df_movies[:3]
movies.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4803 entries, 0 to 4802
Data columns (total 20 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   budget                4803 non-null   int64
 1   genres                4803 non-null   object
 2   homepage              1712 non-null   object
 3   id                    4803 non-null   int64
 4   keywords              4803 non-null   object
 5   original_language     4803 non-null   object
 6   original_title        4803 non-null   object
 7   overview              4800 non-null   object
 8   popularity            4803 non-null   float64
 9   production_companies  4803 non-null   object
 10  production_countries  4803 non-null   object
 11  release_date          4802 non-null   object
 12  revenue               4803 non-null   int64
 13  runtime               4801 non-null   float64
 14  spoken_languages      4803 non-null   object
 15  status                4803 non-null   object
 16  tagline               3959 non-null   object
 17  title                 4803 non-null   object
 18  vote_average          4803 non-null   float64
 19  vote_count            4803 non-null   int64
dtypes: float64(3), int64(4), object(13)
memory usage: 750.6+ KB

In [4]:
# df_credits[:3]
credits.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4803 entries, 0 to 4802
Data columns (total 4 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   movie_id  4803 non-null   int64
 1   title     4803 non-null   object
 2   cast      4803 non-null   object
 3   crew      4803 non-null   object
dtypes: int64(1), object(3)
memory usage: 150.2+ KB

In [5]:
movies[:3]

,budget,genres,homepage,id,keywords,original_language,original_title,overview,popularity,production_companies,production_countries,release_date,revenue,runtime,spoken_languages,status,tagline,title,vote_average,vote_count
0,237000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",http://www.avatarmovie.com/,19995,"[{""id"": 1463, ""name"": ""culture clash""}, {""id"":...",en,Avatar,"In the 22nd century, a paraplegic Marine is di...",150.437577,"[{""name"": ""Ingenious Film Partners"", ""id"": 289...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2009-12-10,2787965087,162.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}, {""iso...",Released,Enter the World of Pandora.,Avatar,7.2,11800
1,300000000,"[{""id"": 12, ""name"": ""Adventure""}, {""id"": 14, ""...",http://disney.go.com/disneypictures/pirates/,285,"[{""id"": 270, ""name"": ""ocean""}, {""id"": 726, ""na...",en,Pirates of the Caribbean: At World's End,"Captain Barbossa, long believed to be dead, ha...",139.082615,"[{""name"": ""Walt Disney Pictures"", ""id"": 2}, {""...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2007-05-19,961000000,169.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,"At the end of the world, the adventure begins.",Pirates of the Caribbean: At World's End,6.9,4500
2,245000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",http://www.sonypictures.com/movies/spectre/,206647,"[{""id"": 470, ""name"": ""spy""}, {""id"": 818, ""name...",en,Spectre,A cryptic message from Bond’s past sends him o...,107.376788,"[{""name"": ""Columbia Pictures"", ""id"": 5}, {""nam...","[{""iso_3166_1"": ""GB"", ""name"": ""United Kingdom""...",2015-10-26,880674609,148.0,"[{""iso_639_1"": ""fr"", ""name"": ""Fran\u00e7ais""},...",Released,A Plan No One Escapes,Spectre,6.3,4466

In [6]:
movies.status.unique()

array(['Released', 'Post Production', 'Rumored'], dtype=object)

In [7]:
movies_merge = pd.merge(movies, credits, left_on = 'id', right_on = 'movie_id')  # объединение 'id':'movie_id'

In [8]:
movies_merge.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4803 entries, 0 to 4802
Data columns (total 24 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   budget                4803 non-null   int64
 1   genres                4803 non-null   object
 2   homepage              1712 non-null   object
 3   id                    4803 non-null   int64
 4   keywords              4803 non-null   object
 5   original_language     4803 non-null   object
 6   original_title        4803 non-null   object
 7   overview              4800 non-null   object
 8   popularity            4803 non-null   float64
 9   production_companies  4803 non-null   object
 10  production_countries  4803 non-null   object
 11  release_date          4802 non-null   object
 12  revenue               4803 non-null   int64
 13  runtime               4801 non-null   float64
 14  spoken_languages      4803 non-null   object
 15  status                4803 non-null   object
 16  tagline               3959 non-null   object
 17  title_x               4803 non-null   object
 18  vote_average          4803 non-null   float64
 19  vote_count            4803 non-null   int64
 20  movie_id              4803 non-null   int64
 21  title_y               4803 non-null   object
 22  cast                  4803 non-null   object
 23  crew                  4803 non-null   object
dtypes: float64(3), int64(5), object(16)
memory usage: 900.7+ KB

In [9]:
movies_merge = movies_merge[movies.status == 'Released'].copy()   
movies_merge.drop(['title_y', 'movie_id'], axis=1, inplace=True)   
movies_merge.rename(columns={'title_x': 'title'}, inplace=True)    
movies_merge = movies_merge.dropna(subset=['overview', 'genres', 'keywords'])

In [10]:
print('Количество фильмов, оставшихся в выборке:', movies_merge.shape[0])

Количество фильмов, оставшихся в выборке: 4792

## Задание 2

Реализуем алгоритм рекомендации на основе описания фильма (`overview`) и ключевых слов к фильму (`keywords`). 
Объедини тексты этих колонок и проведи предобработку:
* Замени NaN в описании фильма на пустой символ `''`
* Удали все английские стоп-слова (используй параметр `stop_words` в `TfidfVectorizer`)
* Рассчитай матрицу [Tf-Idf](https://scikit-learn.org/stable/modules/generated/sklearn.feature_extraction.text.TfidfVectorizer.html) для описания фильмов.

Выведи размер получившейся матрицы
> Параметр `max_features` в `TfidfVectorizer` должен быть равен 10000

In [11]:
from sklearn.feature_extraction.text import TfidfVectorizer

In [12]:
movies_merge['overview'] = movies_merge['overview'].fillna('')

In [14]:
description = movies_merge['overview'] + ' ' + movies_merge['keywords']

In [15]:
tfIdf_vectorizer = TfidfVectorizer(stop_words = 'english', max_features = 10000)

In [16]:
tfidf_matrix = tfIdf_vectorizer.fit_transform(description)

In [17]:
print('Размер матрицы Tf-Idf:', tfidf_matrix.shape)

Размер матрицы Tf-Idf: (4792, 10000)

## Задание 3

Рассчитай [cosine similarity](https://scikit-learn.org/stable/modules/generated/sklearn.metrics.pairwise.cosine_similarity.html) 
между фильмами. Составь из этой матрицы `pd.DataFrame`. Для дальнейшего удобства, 
колонки и индексы таблицы назови согласно`id` фильма. \
Сохрани получившийся `DataFrame` c расстояниями в папку [assets](src/assets) с названием `distance.csv`.
А сам объединенный датасет с фильмами сохрани в папку [assets](src/assets) с названием `movies.csv`.

> Получившиеся файлы `distance.csv` и `movies.csv` пушить в GitLab не нужно!

In [18]:
from sklearn.metrics.pairwise import cosine_similarity

In [19]:
cosine = cosine_similarity(tfidf_matrix)

In [20]:
cosine

array([[1.        , 0.16160013, 0.08417271, ..., 0.06029947, 0.01025163,
        0.04057541],
       [0.16160013, 1.        , 0.0795629 , ..., 0.06733997, 0.        ,
        0.03835326],
       [0.08417271, 0.0795629 , 1.        , ..., 0.03939055, 0.        ,
        0.02046046],
       ...,
       [0.06029947, 0.06733997, 0.03939055, ..., 1.        , 0.01632488,
        0.03620626],
       [0.01025163, 0.        , 0.        , ..., 0.01632488, 1.        ,
        0.01202703],
       [0.04057541, 0.03835326, 0.02046046, ..., 0.03620626, 0.01202703,
        1.        ]])

In [22]:
distance = pd.DataFrame(cosine, index = movies_merge['id'], columns = movies_merge['id'])

In [23]:
distance[:3]

id,19995,285,206647,49026,49529,559,38757,99861,767,209112,...,182291,286939,124606,14337,67238,9367,72766,231617,126186,25975
id,,,,,,,,,,,,,,,,,,,,,
19995,1.000000,0.161600,0.084173,0.141075,0.290498,0.163335,0.109851,0.135357,0.096274,0.092502,...,0.127258,0.0,0.062076,0.114813,0.000000,0.043521,0.0,0.060299,0.010252,0.040575
285,0.161600,1.000000,0.079563,0.134989,0.148862,0.155402,0.101430,0.095819,0.091001,0.078926,...,0.120289,0.0,0.056188,0.085687,0.000000,0.048129,0.0,0.067340,0.000000,0.038353
206647,0.084173,0.079563,1.000000,0.082892,0.086587,0.092254,0.070126,0.103766,0.062348,0.047661,...,0.095663,0.0,0.024023,0.045712,0.017616,0.035867,0.0,0.039391,0.000000,0.020460

In [24]:
distance.to_csv('../../src/assets/distance.csv')
movies_merge.to_csv('../../src/assets/movies.csv', index = False)